.player {
  position: relative; // serve of parent for absolutely positioned elements
  padding-top: $spacing-unit;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;

  color: $grey-color-light;

  background: center/cover no-repeat;
  background-image:
    radial-gradient(
      circle at center 75%,
      $brand-color,
      rgba(0, 0, 0, 0.8),
    );


  a {
    color: $brand-secondary-color;
  }

  .player-header, .player-details {
    padding: 0 $spacing-unit;
  }

  .player-header {
    .player-title {
      font-size: 25px;
    }
  }

  .player-details {
    flex-grow: 1;
    overflow: auto;

    .player-logo {
      width: 20em;
      max-width: 90%;
      margin: 0 auto $spacing-unit / 2;

      background: center / cover no-repeat $brand-color url('../img/background.png');
    }

    .player-logo:after {
      content: "";
      display: block;
      padding-bottom: 100%; // dynamic square hack: padding is always calculated from width value
    }

    .player-notes {
      }
    }
  }

  .player-ui {
    audio {
      display: block;
      width: 100%;

      &:not(:first-child) {
        border-top: 1px solid $brand-secondary-color;
      }
    }
  }

}
