---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
{% if page.listen-msg %}
    <p>
      {{ page.listen-msg | markdownify }}
    </p>
{% elsif page.spreaker or page.itunes or page.spotify %}
    <p>
      Escuchar
      {% if page.spreaker %}en <a href="{{ page.spreaker }}">Spreaker</a>{% endif %}{% if page.spreaker and page.itunes %} 
      o {% endif %}{% if page.itunes %}en <a href="{{ page.itunes }}">iTunes</a>{% endif %}{% if (page.spreaker and page.itunes) and page.spotify %} 
      o {% endif %}{% if page.spotify %} 
      en <a href="{{ page.spotify }}">Spotify</a>{% endif %}.
    </p>
{% endif %}
    {{ content }}
  </div>

</article>
